*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: .5s;
}
.main{
    width: 100%;
    /* min-width: 200px; */
    /* max-width: 100%; */
    height: 100vh;
    /* background: red; */
    /* background: linear-gradient(black,red); */
    /* background: radial-gradient(red,rgb(138, 57, 57),rgb(94, 74, 74)); */
    /* background: linear-gradient(black 0%,black 50%,rgb(187, 167, 167) 50%, red 100%); */
    /* background: linear-gradient(45deg , black,green , red); */
    /* background-image: url('https://www.shutterstock.com/image-photo/beautifull-neature-waterfall-260nw-1998363710.jpg'); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.417) , rgba(0, 0, 0, 0.372)),url('https://www.shutterstock.com/image-photo/beautifull-neature-waterfall-260nw-1998363710.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
nav{
    color: white;
    position: fixed;
    top: 0;
    z-index: 10;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
 .container h1{
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
} 
.container p {
    text-align: center;
    color:white;
}
.container button{
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: 1px solid red;
}
.container button:hover{
    background-color: red;
}
.container button:active{
    /* transform: scale(10.5); */
    /* transform: scalex(10.5); */
    /* transform: rotate(360deg); */
    /* transform: rotatey(360deg); */
    transform: skew(50deg);
}

.sectionContant{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: green;
    overflow: hidden;
}
.red{
    width: 350px;
    height: 350px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-130%,-50%);
}
/* -------------- form design is start from here -----------  */
.formSection{
    width: 100%;
    min-height: 100vh;
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formSection form {
    width: 400px;
    padding: 30px;
    background: gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formSection form h1{
    color: white;
}
/* .formSection form input{
    padding: 5px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    text-align: center;
} */
.formSection form input{
    border: 0;  
    outline: 0;
    background: transparent;
    border-bottom: 2px solid White;
    padding: 5px;
    color: white;
}
.formSection form input::placeholder{
    color: white;
}
.formSection form input[type=submit]{
    background-color: white;
    color: gray;
    font-weight: bold;
    border-radius: 5px;
}