*{
    margin: 0;
    padding: 0;
    font-family: serif ;
    transition: .5s;
    box-sizing: border-box;
}
.main{

}
 nav{
    color: green;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
h3{
       text-align: center;
}
.container{
    display: flex;
     flex-direction:column;
    gap: 20px;
    justify-content: center;
    align-items: center; 
    background-image: url(https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=1024x1024&w=0&k=20&c=z8_rWaI8x4zApNEEG9DnWlGXyDIXe-OmsAyQ5fGPVV8=);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    background-attachment:fixed ;

}   
.container h1{
    font-size: 50px;
    font-weight: bolder;
    color: grey;
}
.container p{
    text-align: center;
    color: burlywood;
}
.container button{
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background: transparent;
    font-weight: bolder;
    border: 1px solid red;
}
.container button:hover{
    background-color: red;
}
.container button:active{
    /* transform: scale(); */
    /* transform: scaley(5); */
    /* transform: skew(45deg); */
    transform: rotate(180deg);
}

/* --------------------- */
/* this is header section */
.sectionContant{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: rgb(209, 184, 184);
    overflow: hidden;
    margin: 5px;
    border-radius: 50px;
}
.red{
    width: 350px;
    height: 350px;
    background: rgba(255, 0, 0, 0.746);
    border-radius: 190px;
    position: absolute;
    top: 50%;
    left:50% ;
    transform: translate(-50%,-50%);
}
/* -----------------------------------
FORM IS STARTING FORM HERE */
.formSection{
    width:100%;
    min-height: 100vh;
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formSection form{
    width: 400px;
    padding: 30px;
    background-color: green;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
}
.formSection form h1 {
    color: #fff;
}
/* .formSection form input{
    padding: 5px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    text-align: center;
}. */
 .formSection input{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid white;
    padding: 5px;
    color: white;
 }
 .formSection form input::placeholder{
    color: #fff;
 }
 .formSection form input[type=submit]{
    background-color: #fff;
    color: grey;
    font-weight: bold;
    border-radius: 5px;
 }